*
!*/
!docker/vivossh/*
!ywzfiles/*
!.yml
!*.json
!.gitignore
!*.py
!*.pyc
!*.yml
!*.yaml
!*.sh
!*.md
!*.txt
!*.cpp
!*.h
!MakeFile
!Dockerfile*
!*.so
!*.requirements
!*.bat
!*.doc
!*.docx
!*.xlsx
!*.xls
!*.ini
!LICENSE
!README
!readme
!*config