  _BASE_: "../Base-RCNN-FPN-VCM.yaml"
  MASK_ON: False
  WEIGHTS: "./model_final_68b088.pkl" #please download from detectron2 website
  PIXEL_STD: [57.375, 57.120, 58.395]
  RESNETS:
    STRIDE_IN_1X1: False  # this is a C2 model
    NUM_GROUPS: 32
    WIDTH_PER_GROUP: 8
    DEPTH: 101
OUTPUT_DIR: ../../model_save/output/lambda1_model #savetrainedmodelpath
SOLVER:
  STEPS: (130000, 180000)
  MAX_ITER: 250000
  CHECKPOINT_PERIOD: 5000
INPUT:
# # MIN_SIZE_TRAIN: (640, 672, 704, 736, 768, 800)
##  MIN_SIZE_TRAIN: (640, 640)
  MIN_SIZE_TRAIN: (800, 800)
  # # MIN_SIZE_TEST: 400

